<!DOCTYPE html>
<html ng-app="appConsulta">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

    <script src="../Scripts/jquery-3.0.0.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>

    <script src="../Scripts/angular.min.js"></script>

    <script>

        var app = angular.module('appConsulta', []);


        app.controller('consultaController',
            function ($scope, $http) {
                //função para executar o serviço de consulta da API..

                $scope.consultarManutencao = function () {
                    $http.get("https://localhost:44361/api/Maintenance/consultar")
                        .then(function (obj) {
                            $scope.manutencao = obj.data;

                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data.Mensagem;
                        });
                };

                //função para executar o serviço de consulta da API..
                // consultar contatos
                $scope.consultarporid = function (id) {

                    $http.get("https://localhost:44361/api/Maintenance/consultarporid?id=" + id)
                        .then(function (obj) {
                            $scope.model = obj.data;
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data.Mensagem; //mensagem de erro..
                        });
                };
                
                $scope.atualizar = function () {

                    $http.put("https://localhost:44361/api/Maintenance/atualizar", $scope.model)
                        .then(function (obj) {
                            $scope.mensagem = obj.data.Mensagem;
                            $scope.consultarManutencao();
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data.Mensagem;
                        });
                };

                $scope.excluir = function () {
                    $http.delete("https://localhost:44361/api/Maintenance/excluir?id=" + $scope.model.Id)
                        .then(function (obj) {

                            $scope.mensagem = obj.data.Mensagem;
                            $scope.consultarManutencao();
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data.Mensagem;
                        });
                };
            });

    </script>

</head>
<body class="container" ng-controller="consultaController">

    <h2>Consulta Manutenção</h2>
    <a href="/index.html">Página inicial</a>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <label>Filtrar Contatos:</label>
            <input type="text" class="form-control"
                   placeholder="Digite aqui" ng-model="filtropesquisa" />
        </div>
    </div>

    <br />

    <div>
        <strong>{{mensagem}}</strong>
    </div>
    <table class="table table-bordered" ng-init="consultarManutencao()">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Data de inclusão</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in manutencao | filter: filtropesquisa | orderBy : ordenacao">
                <td>{{m.Id}}</td>
                <td>{{m.Description}}</td>
                <td>{{m.Status}}</td>
                <td>{{m.CreatedAt  | date : 'dd/MM/yyyy'}}</td>
                <td>
                    <button class="btn btn-primary btn-sm"
                            data-target="#janelaedicao"
                            data-toggle="modal"
                            ng-click="consultarporid(m.Id)">
                        Atualizar
                    </button>

                    <button class="btn btn-danger btn-sm"
                            data-target="#janelaexclusao"
                            data-toggle="modal"
                            ng-click="consultarporid(m.Id)">
                        Excluir
                    </button>

                </td>
            </tr>
            <tr>
                <td colspan="8">
                    Quantidade de manutenção:
                    {{(manutencao | filter: filtropesquisa).length}}
                </td>
            </tr>


        </tbody>

    </table>


    <div id="janelaedicao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="text-white">Atualizar </h4>
                </div>
                <div class="modal-body">
                    Código: <label>{{model.Id}}</label>
                    <br />

                    <label>Descrição da Manutenção:</label>
                    <input type="text" class="form-control"
                           placeholder="Digite aqui"
                           ng-model="model.Description" />
                    <br />


                    <label>Status:</label>
                    <select class="form-control" ng-model="model.Status">
                        <option value="0"> Manutenção em execução </option>
                        <option value="1"> Manutenção finalizada</option>
                    </select>
                    <br />

                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" ng-click="atualizar()">Atualizar Dados</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div id="janelaexclusao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="text-white">Produtos</h4>
                </div>

                <div class="modal-body">

                    Código: <label>{{model.Id}}</label>
                    <br />

                    Descrição : <label>{{model.Description}}</label>
                    <br />

                    Status: <label>{{model.Satus}}</label>
                    <br />

                    Data de inclusão: <label>{{model.CreatedAt | date : 'dd/MM/yyyy'}}</label>
                    <br />

                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="excluir()"> Confirmar Exclusão</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>


</body>
</html>